.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(253, 197, 56, 0.85);
    color: white;
    /* border: none; */
    border: 2px solid rgba(253, 197, 56, 0.85);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.custom-button:hover {
    background-color: rgba(253, 197, 56, 0.1);
}

#special-button {
    background-color: rgba(255, 0, 0, 0.85);
    border: 2px solid rgba(255, 0, 0, 0.85);
}

#special-button:hover {
    background-color: rgba(255, 0, 0, 0.1);
}